/* KimonoCard.css */
.kimono-card {
  background-color: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 10px;
  padding: 10px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
  position: relative;
  overflow: hidden;
  min-height: 400px;
}

.kimono-card:hover {
  transform: scale(1.05);
}

.kimono-card img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  max-height: 200px; /* Set a maximum height */
  object-fit: cover; /* Ensure the image covers the area without stretching */
}

.kimono-card h3 {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  margin: 10px 0;
}

@keyframes shimmer {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}

.shimmer {
  animation: shimmer 1.5s infinite linear;
  background: #f6f7f8;
  background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
  background-size: 1000px 100%;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1; /* Make sure it overlays the content; adjust as necessary */
}