.kimono-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.2s ease-in-out;
  min-height: 400px; /* Ensure cards have a minimum height */
  position: relative; /* Ensure shimmer effect is positioned correctly */
}

.kimono-card:hover {
  transform: scale(1.05);
}

.image-container {
  width: 100%;
  height: 300px; /* Set a fixed height for the image container */
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.placeholder {
  color: #666;
  font-size: 1.2rem;
  text-align: center;
}


.kimono-card-details {
  padding: 10px;
  text-align: center;
}

.kimono-card-title {
  font-size: 1rem;
  color: #333;
}

.kimono-card-price {
  font-size: 1.2rem;
  color: #000;
  font-weight: bold;
}

.kimono-card-meta {
  font-size: 0.9rem;
  color: #666;
  margin-top: 5px;
}


@keyframes shimmer {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}

.shimmer {
  animation: shimmer 1.5s infinite linear;
  background: #f6f7f8;
  background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
  background-size: 1000px 100%;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1; /* Make sure it overlays the content; adjust as necessary */
}

.loading .shimmer {
  height: 100%;
}