/* KimonoCard.css */
/* .kimono-card {
  background-color: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 10px;
  padding: 10px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
  position: relative;
  overflow: hidden;
  min-height: 400px;
} */

/* .kimono-card:hover {
  transform: scale(1.05);
} */

.kimono-card img {
  width: 100%;
  border-radius: 5px;
  height: auto;
  object-fit: cover;
}

/* .kimono-card h3 {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  margin: 10px 0;
} */

@keyframes shimmer {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}

.shimmer {
  animation: shimmer 1.5s infinite linear;
  background: #f6f7f8;
  background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
  background-size: 1000px 100%;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1; /* Make sure it overlays the content; adjust as necessary */
}


.kimono-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Aligns content spaced out evenly */
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.2s ease-in-out;
}

.kimono-card:hover {
  transform: scale(1.05);
}

/* .kimono-card img {
  width: 100%;
  height: auto;
  aspect-ratio: 4 / 3;
}
*/

.kimono-card-details {
  padding: 10px;
  text-align: center;
}

.kimono-card-title {
  font-size: 1rem;
  color: #333;
}

.kimono-card-price {
  font-size: 1.2rem;
  color: #000;
  font-weight: bold;
}

.kimono-card-meta {
  font-size: 0.9rem;
  color: #666;
  margin-top: 5px;
}