.close-btn {
    position: absolute;
    right: 20px;
    bottom: 20px;
    padding: 10px 20px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }

  .pill {
    padding: 8px 16px;
    margin: 0 5px;
    background-color: #5a5ad8;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    outline: none;
  }
  
  .pill:hover {
    background-color: #6a6afe;
    transform: translateY(-2px);
  }
  
  .pill.active {
    background-color: #8884d8;
    box-shadow: 0 4px 6px rgba(0,0,0,0.2);
  }

.kimono-graph {
    padding: 20px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}
  