/* Pagination.css */
.pagination {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 5px;
  margin: 20px 0;
}

.pagination li {
  cursor: pointer;
  padding: 5px 10px;
  background-color: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
}

.pagination li.active {
  background-color: #008489;
  color: #fff;
}

/* Customize the pagination styles as needed */
