/* App.css */
body {
  font-family: "Arial", sans-serif;
  background-color: #f7f7f7;
  margin: 0;
  padding: 0;
}

.header-title {
  font-size: 2.5em;  /* Larger font size for prominence */
  color: #333;       /* Dark gray for strong contrast */
  text-align: center; /* Centers the title */
  margin-top: 20px;  /* Adds some space at the top */
  margin-bottom: 10px; /* Space before the search bar begins */
  font-weight: bold; /* Makes the font bold */
}

.kimono-card-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 20px;
  padding: 20px;
}

@media (max-width: 600px) {
  .kimono-card-list {
    grid-template-columns: 1fr;
  }
}

/* Improved styling for the search bar to ensure it's centered */
.search-bar-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 20px; /* space between search bar and cards */
}